# Python
*.pyc
*.pyd
__pycache__
*.pyo
*.pyw
*.sqlite
*.shelve

# Node
node_modules
dist
*.js.map
*.md

# Android
app/build
app/intermediate
app/gen
app/obj
build.gradle.kts
package.json
.env

# Logs and caches
logs
cache
.dSYM

# Scratch/temp files
scratch/

# Generated data
data/
